.Galery {
    text-align: center;
}

.titleContact {
    text-align: center;
    color: #F2B707;
    font-family: 'Press Start 2P', cursive;
}

.subtitlesContact {
    text-align: center;
    color: #F2B707;
    font-family: 'Press Start 2P', cursive;
}