body{
    background-image: url("../../img/background.jpg");
}

.planetBanner{
    width: 100%;
    height: 300px;
}

li{
    text-align: left;
}

.titleWebPage{    
    color: #F2B707;
    font-family: 'Press Start 2P', cursive;
}

.subtitlesPlanet{
    color: #F2B707;
    font-family: 'Press Start 2P', cursive;
}