body{
    background-image: url("../../img/background.jpg");
}

.planetBanner{
    width: 100%;
    height: 300px;
}

li{
    text-align: left;
}

.titleHome{    
    color: #F2B707;
    font-family: 'Press Start 2P', cursive;
}

.subtitlesHome{
    color: #F2B707;
    font-family: 'Press Start 2P', cursive;
}